body {
  width: 100%;
  overflow-x: hidden;
}

p {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
a {
  width: 100%;
}
.notes-welcome {
  color: rgb(1, 38, 39);
  font-weight: bold;
  text-align: center;
  font-size: 70px;
  font-family: Arial, Helvetica, sans-serif;
}
.bio-content {
  width: 100%;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
  overflow-x: scroll;
  padding-bottom: 40px;
}
.bio-txt {
  color: rgb(79, 117, 79);
  font-size: 25px;
  text-align: left;
  font-weight: bold;
  margin-bottom: 70px;
  margin-top: 70px;
}
.b-grid1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  grid-gap: 64px;
}
.b-grid2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  grid-gap: 40px;
  margin-top: 60px;
}

.bio-card1,
.bio-card2,
.bio-card3 {
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  border-radius: 15px;
  box-shadow: 5px 15px 15px rgba(1, 38, 39, 0.5);
  padding-right: 10px;
}

.b-img-1 {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 15px 0px 0px 15px;
  margin-right: 30px;
}
.book-desc {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.book-title {
  font-size: 15px;
  color: rgb(1, 38, 39);
  font-weight: bold;
  margin-bottom: 20px;
}

.book-about {
  font-size: 15px;
  color: green;
  margin-bottom: 15px;
  font-weight: lighter;
}
.pages {
  font-size: 13px;
  color: grey;
  font-weight: lighter;
  margin-bottom: 30px;
}
.view-btn {
  border: 0px solid transparent;
  color: white;
  background-color: rgb(253, 96, 122);
  width: 100%;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: transform 0.6s ease-in-out, background-color 0.6s ease-in-out;
}
.view-btn:hover {
  transform: scale(1.1);
  background-color: rgb(1, 38, 39);
}
