p {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.main-body {
  width: 100%;
  margin: 0 auto; /* Center the content horizontally */
  overflow-x: hidden;
}

.main-lyt {
  width: 100%;
}
